.form {
  display: flex;
  justify-content: center;
}

.form-input {
  height: 20px;
  width: 400px;
  margin-block: 20px;
  /* margin: 20px; */
  border-radius: 10px;
  border-width: thin;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
