.todo {
  background: #fff;
  padding-block: 10px;
  padding-inline: 20px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through;
}

.important {
  border: 1px solid red;
  color: red;
  font-weight: bold;
}

button {
  background-color: white;
  border-style: none;
  font-size: 12px;
  margin: 1px;
  padding: 8px;
}
